@media (min-width: 768px) {
    .upgrade-review{
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 50px;
}
.upgrade, .reviews{
  background-color: rgba(128, 128, 128, 0.096);
  width: 50%;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.349);
  padding: 30px;
  margin-bottom: 30px;
}
.own-today{
    width: 15%;
}
.reviews ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.own-today{
  top: 170px;
  left: 80px;
  width: 15%;
}
}