/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
#top-header a{
  text-decoration: none;
}
nav ul{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.055);
  padding: 5px;
  width: 90%;
  margin: auto;
  gap: 10px;
  margin-top: 20px;
  height: 60px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.055);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.349);
}
nav ul li{
  list-style-type: none;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-around;
  border-radius: 5px;
}
nav ul li a{
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  height: 100%;
  line-height: 30px;
  padding-top: 5px;
  /* border-radius: 5px; */

}
main, footer{
  width: 90%;
  margin: auto;
}